<div class="container">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input type="password" class="form-control" id="inputPassword2" placeholder="Buscar">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
      </div>
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id reultado</th>
        <th scope="col">Id Evaluador</th>
        <th scope="col">Id evaluacion</th>
        <th scope="col">valores</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of resultados">
        <th scope="row">{{r._id}}</th>
        <td>{{r.evaluador}}</td>
        <td>
          {{r.evaluacion}}
        </td>
        <td>
          <a [routerLink]="['/ver-resultados',r._id]" class="btn btn-primary">Ver resultado</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>