<div class="container">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input type="password" class="form-control" id="inputPassword2" placeholder="Buscar">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
      </div>
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Evaluacion</th>
        <th scope="col" *ngIf="!adminrole">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evaluacion of evaluaciones">

        <td scope="row">{{evaluacion.nombreSitio}}</td>
        <td >
          <a *ngIf="role==1 || role==3" [routerLink]="['/ver-resultados',evaluacion._id]" class="btn btn-primary" style="margin-right: 15px;">Ver</a>
          <a *ngIf="role==2" [routerLink]="['/calificar',evaluacion._id]" class="btn btn-success" style="margin-right: 15px;">Evaluar</a>
          <a *ngIf="role==1 || role==3" [routerLink]="['/ver-resultados',evaluacion._id]" class="btn btn-info" style="margin-right: 15px;">Modificar</a>
          <a *ngIf="role==1 || role==3" (click)="eliminarEvaluacion(evaluacion._id)" class="btn btn-danger text-white">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>