<div class="container">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input type="password" class="form-control" id="inputPassword2" placeholder="Buscar">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
      </div>
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Evaluacion</th>
        <th scope="col">Resultado</th>
        <th scope="col" *ngIf="adminrole">Calificar</th>
        <th scope="col" *ngIf="!adminrole">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evaluacion of evaluaciones">
        
        <td scope="row">{{evaluacion.nombreSitio}}</td>
        <td>
          <a [routerLink]="['/ver-resultados']" class="btn btn-primary">Ver resultado</a>
        </td>
        <td *ngIf="adminrol">
          <a [routerLink]="['/calificar']" class="btn btn-success">Evaluar/Calificar</a>
        </td>
        <td *ngIf="!adminrol">
          <button (click)="borrarEvaluacion()" class="btn btn-danger">Eliminar</button>  
          <!-- <a [routerLink]="['/calificar']" class="btn btn-danger">Eliminar</a> -->
          </td>
      </tr>
    </tbody>
  </table>
</div>