<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <b>
                    <img src="assets/images/logo_icon.png" alt="homepage" class="dark-logo logo-icon" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>
                    <img src="assets/images/logo_text.png" alt="homepage" class="dark-logo logo-text" />
                </span>
            </a>
            
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item">
                    <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)">
                        <i class="mdi mdi-menu"></i>
                    </a>
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item hidden-xs-down search-box">
                    <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Buscar">
                        <a class="srh-btn">
                            <i class="mdi mdi-close"></i>
                        </a>
                    </form>
                </li>
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item">

                    <a class="nav-link waves-effect waves-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/no-img.jpg" alt="user" class="profile-pic" />

                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" [routerLink]="['/account']">
                            <i class="mdi mdi-account-circle iconoPerfil"></i>Perfil</a>
                        <a class="dropdown-item " [routerLink]="['/settings']">
                            <i class="mdi mdi-settings iconoPerfil"></i>Config</a>
                        <a class="dropdown-item" (click)="_usuarioService.logout()">
                            <i  class="mdi mdi-power iconoPerfil"></i>Salir</a>
                    </div>


                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->