<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors/default-dark.css" id="theme" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container padre">
        <div class="card " style="width: 25rem;">
            <div class="card-body">
                <div class="card-title">
                    <a class="navbar-brand" [routerLink]="['/principal']">
                        <!-- Logo icon -->
                        <b>
                            <img src="assets/images/logo_icon.png" alt="homepage" class="dark-logo logo-icon" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <img src="assets/images/logo_text.png" alt="homepage" class="dark-logo logo-text" />
                        </span>
                    </a>
                </div>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Este campo es obligatorio</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">recuerdame</label>
                    </div>
                    <button type="submit" class="btn btn-info derecha">Entrar</button>
                    <a type="submit" class="btn btn-danger izquierda" [routerLink]="['/principal']">Volver</a>

                </form>
                <br>
                <br>
                <br> ¿Aun no tienes una cuenta?
                <a [routerLink]="['/register']" class="Link">Registrate</a>

            </div>
        </div>
    </div>


    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <script src="assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/sidebarmenu.js"></script>
    <script src="assets/js/custom.min.js"></script>


</body>

</html>