<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <form ngNativeValidate class="row">
        <div class="form-group col-md-6">
          <label for="nombreCoordinador">Nombre Coordinador</label>
          <input [(ngModel)]="usuario.nombre" name="nombre" type="text" class="form-control" id="nombreCoordinador"
            required disabled>
        </div>
        <div class="form-group col-md-6">
          <label for="fecha">Fecha</label>
          <input [(ngModel)]="fecha" name="fecha" type="text" class="form-control" id="fecha" required disabled>
        </div>
        <div class="form-group col-md-6">
          <label for="nombreSitio">Nombre del sitio</label>
          <input [(ngModel)]="evaluacion.nombreSitio" name="nombreSitio" type="text" class="form-control" id="nombreSitio"
            placeholder="Escribe el nombre del sitio">
        </div>
        <div class="form-group col-md-6">
          <label for="url-sitio">URL del sitio</label>
          <input [(ngModel)]="evaluacion.urlSitio" name="urlSitio" type="text" class="form-control" id="url-sitio"
            placeholder="http://wwww.ejemplo.com">
        </div>
        <div *ngIf="!elegir" class="form-group col-md-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Eleccion Heuristicas</h4>
              <p class="card-text">
                En esta seccion podras modificar la seleccion de heristicas que buscas evaluar al portal web, si
                desides no hacerlo se evaluaran
                con todas la heuristicas disponibles
              </p>
              <a (click)="elegir=true" class="btn btn-info waves-effect waves-light m-r-10 derecha text-white ">Modificar</a>
            </div>
          </div>
        </div>
        <!-- # tabla de heuristicas-->
        <div *ngIf="elegir" class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                  <a (click)="pushAllHeuristicas()" class="btn btn-info text-white derecha">todas</a>

                <table class="table" *ngFor="let prin of p">
                  <thead>
                    <tr>
                      <h5>{{prin.principio | titlecase}}</h5>
                      <hr>
                    </tr>
                    <tr>
                      <th>IND</th>
                      <th>Heuristica</th>
                      <th>Conformidad</th>
                      <th>Ejemplo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let heuristica of prin.heuristicas">
                      <td>{{heuristica.indice}}</td>
                      <td>{{heuristica.heuristica}}</td>
                      <td>{{heuristica.nivelConformidad}}</td>
                      <td>{{heuristica.ejemplo}}</td>
                      <td>
                          <a *ngIf="!banderaH(heuristica._id )" (click)="addOrRemoveHeuristica(heuristica._id)" class="btn btn-info text-white">Elegir</a>
                          <a *ngIf="banderaH(heuristica._id )" (click)="addOrRemoveHeuristica(heuristica._id)" class="btn btn-danger text-white">Mejor no</a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- fin tabble -->
        <!-- start table evaluadores  -->
        <h2>Elegir evaluadores</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th>Selecionar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let evaluador of e">
              <td>{{evaluador.nombre}}</td>
              <td>{{evaluador.email}}</td>
              <td>
              <a *ngIf="!bandera(evaluador._id)" (click)="addOrRemoveEvaluador(evaluador._id)" class="btn btn-info text-white">Elegir</a>
              <a *ngIf="bandera(evaluador._id)" (click)="addOrRemoveEvaluador(evaluador._id)" class="btn btn-danger text-white">Mejor no</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- end table evaluadores -->

        <!-- <div class="pre">
          <h4>evaluacion: </h4>
          {{prueba | json}}
        </div> -->



        <div class="col-md-12">
          <button type="submit" class="btn btn-danger waves-effect waves-light">Cancelar</button>
          <button (click)=" crearEvaluacion()" type="submit" class="btn btn-success waves-effect waves-light m-r-10 derecha">Crear evalucion</button>
        </div>
      </form>
    </div>
  </div>
</div>