.logo-icon{
    width: 40px;
    height: 40px;
}
.logo-text{
    width: 120px;
    height: 40px;
}
.derecha{
     float: right;
     }
.izquierda { 
    float: left;  
}
.modalEvaluador{
    width: 300px;
    height: 300px;
}

.iconoPerfil{
    margin: 7px ;
}
.iconoSidebar{
    margin-left: 17px ;
    margin-right: 17px ;
}
.padre {
    /* background: yellow; */
    /* height: 150px; */
    /*IMPORTANTE*/
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }