<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos de la evaluacion</h4>
                    <!-- {{evaluacion.coordinador | json}}  -->
                    <form>
                        <div class="form-group form-control-sm">
                            <label for="e">Coordinador</label>
                            <input [(ngModel)]="evaluacion?.coordinador.nombre" name="coordinador" type="text" class="form-control" id="e">

                            <label for="fecha">Fecha</label>
                            <input [(ngModel)]="evaluacion.fecha" name="fecha" type="text" class="form-control" id="fecha">

                            <label for="nameSitio">Nombre del sitio</label>
                            <input [(ngModel)]="evaluacion.nombreSitio" name="nombreSitio" type="text" class="form-control" id="nameSitio">

                            <label for="url">URL del sitio</label>
                            <input [(ngModel)]="evaluacion.urlSitio" name="urlSitio" type="url" class="form-control" id="url">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!------------------- START INSTRUCIONES ---------------------->
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Informacion!</h4>
        <p>Para realizar la evaluacion abra en una nueva pestaña en su navagdor favorito e ingrese al URL una vez
            echo esto podra comenzar con la evaluacion evaluacion</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Valor</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Se da la mínima expresión del heurístico en las páginas evaluadas</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Se da una expresión baja del heurístico en las páginas evaluadas</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Se da una expresión media del heurístico en las páginas evaluadas</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Se da una expresión alta del heurístico en las páginas evaluadas</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Se da la máxima expresión del heurístico en las páginas evaluadas</td>
                </tr>

            </tbody>
        </table>
        <p class="mb-0">Gracias por tu evaluacio</p>
    </div>
    <!-------------------  END INSTRUCIONES ---------------------->
    <!------------------- START TABLA DE EVALUACION ---------------------->

    <table class="table">
        <thead>
            <tr>
                <th>Indice</th>
                <th>Pregunta</th>
                <th>Ejemplo</th>
                <th>Calificacion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let h of evaluacion.heuristicas; let i=index">
                <td>{{h.indice}}</td>
                <td>{{h.pregunta}}</td>
                <td>{{h.ejemplo}}</td>
                <td WIDTH="50">
                    <select [(ngModel)]="valores[i]" name="valores" class="form-control" id="i" required>
                        <option>Selec</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <!-------------------  END TABLA DE EVALUACION ---------------------->

    <button (click)="guardarResultado()" type="submit" class="btn btn-success  derecha">Finalizar</button>


</div>