<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos de la evaluacion</h4>
                    <form>
                        <div class="form-group form-control-sm">
                            <label for="exampleInputEmail1">Coordinador</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="coordinador">

                            <label for="exampleInputEmail1">Fecha</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="date.date">

                            <label for="exampleInputEmail1">Nombre del sitio</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="www.tales.com">

                            <label for="exampleInputEmail1">URL del sitio</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="https://www.....">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    message:'para realizar la evaluacion abra en una nueva pestaña en su navagdor favorito e ingrese al URL una vez
    echo esto podra comenzar con la evaluacion evaluacion'

    <table class="table">
        <thead>
            <tr>
                <th>Indice</th>
                <th>Pregunta</th>
                <th>Ejemplo</th>
                <th>Calificacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">P1</td>
                <td>¿Las imagenes contienen alguntexto alternativo para mejorar su comprecion?</td>
                <td>Que se encuentre la imagen de un paisage, al lado de esta debe existir un texto narrativo de la
                    misma</td>
                <td>
                    <div class="form-group">
                        <select class="form-control" name="calificacion" id="calificacion">
                            <option>Selec</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>



</div>