<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos de la evaluacion</h4>
                    <form>
                        <div class="form-group form-control-sm">
                            <label for="e">Coordinador</label>
                            <input [(ngModel)]="evaluacion.coordinador.nombre" name="coordinador" type="text" class="form-control"
                                id="e">

                            <label for="ex">Fecha</label>
                            <input [(ngModel)]="evaluacion.fecha" name="fecha" type="text" class="form-control" id="ex">

                            <label for="exa">Nombre del sitio</label>
                            <input [(ngModel)]="evaluacion.nombreSitio" name="nombreSitio" type="text" class="form-control"
                                id="exa">

                            <label for="exam">URL del sitio</label>
                            <input [(ngModel)]="evaluacion.urlSitio" name="urlSitio" type="url" class="form-control"
                                id="exam">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Informacion!</h4>
        <p>Para realizar la evaluacion abra en una nueva pestaña en su navagdor favorito e ingrese al URL una vez
            echo esto podra comenzar con la evaluacion evaluacion</p>
        <hr>
        <p class="mb-0">Gracias por tu evaluacio</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Indice</th>
                <th>Pregunta</th>
                <th>Ejemplo</th>
                <th>Calificacion</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let h of evaluacion.heuristicas; let i=index">
                <td>{{h.indice}}</td>
                <td>{{h.pregunta}}</td>
                <td>{{h.ejemplo}}</td>
                <td WIDTH="50" >
                    <select  [(ngModel)]="valores[i]" name="valores" class="form-control" id="i" required>
                        <option >Selec</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <button (click)="guardarResultado()" type="submit" class="btn btn-success  derecha">Finalizar</button>


</div>